* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: serif;
    background-color: black;
    
}

#hero {
    background-image: url(../images/header1.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}
#hero h1 {
    color: #ded9cf;
    font-size: 48px;
}

#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #b13d25;
    color: #ded9cf;
    text-decoration: none;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar {
    background-color: #ded9cf;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#navbar a {
    text-decoration: none;
    color: #000000;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: #b13d25;
    color: #ded9cf;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}



    
    
    
    
.our-vision {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    background-color: #4a4635;
    padding: 24px;
}

.our-vision h2 {
    color: #ded9cf ;
}
    
    
.our-vision .vision-photo {
    flex: 1;
}
    
    
.our-vision .text-container {
    flex: 1;
    padding: 36px;
}
    
    
    
.our-vision .vision-photo img {
    width: 100%;
}
    
    
.our-vision .text-container h3 {
    font-size: 48px;
}
    
    
    
.our-vision .text-container a {
    background-color: #b13d25;
    text-decoration: none;
    color: #ded9cf;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    display: inline-block;
}




.card-section {
    width: 150vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    gap: 36px;
    justify-content: center;
   
}

.card-section h3 {
    color: #ded9cf;
    text-align: center;
}

.card-section p {
    color: #ded9cf;
    text-align: center;
}

#card-1, #card-2, #card-3 {
    width: 350px;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    background-color: #4a4635;
    display: flex;
    flex-direction: column;
}

.card-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-section a {
    background-color: #b13d25;
    text-decoration: none;
    color: #ded9cf;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    
}

.reviews {
    background-color: #ded9cf;
    padding: 24px;
    text-align: center;
}

.reviews h3 {
    font-size: 40px;
    color: #b13d25;
}

.footer {
    background-color: #4a4635;
    padding: 24px;
    text-align: center;
    color: #ded9cf;
}

.featured-1 {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    background-color: #4a4635;
    padding: 24px;
}

.featured-1 h2 {
    color: #ded9cf ;
}
    
    
.featured-1 img {
    flex: 1;
    
}
    
    
.featured-1 #fd1 {
    flex: 1;
    padding: 36px;
}
    
    
.featured-1 p, h4 {
    font-size: 24px;
}

.featured-1 h4 {
    color: #ded9cf;
}

.menu-items {
    background-color: #ded9cf;
    padding: 24px;
}

/* Tablet Breakpoint */
@media screen and (max-width: 768px) and (min-width: 481px) {
    #navbar {
        flex-direction: column; 
    }
}