* {
    box-sizing: border-box;
    }
    body {
        margin: 0px;
        
    }

    #navbar-1 {
        background: rgb(216, 201, 201);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }
    #navbar-1 a {
        text-decoration: none;
        color: rgb(70, 51, 51);
        padding: 24px;
    }
    #navbar-1 img {
        width: 200px;
    }
    #navbar-1 #logo1 {
        margin-right: auto;
    }

    #navbar-2 {
        background: #5e5c5b ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Franklin Gothic Medium';
    }
        
    #navbar-2 a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
        
    #navbar-2 #logo2 img {
        width: 150px;}
        
    #navbar-2 .signup {
        background-color: #78AD9A;
        color: white;
        border-radius: 36px;
        padding: 16px 24px;
        font-size: 20px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
    }

    #navbar-upper {
        text-align: center;
        background-color: orange;

    }

    #navbar-3 {
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    #navbar-3 a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    #navbar-3 img {
        width: 200px;
    }
    #navbar-3 #logo {
        margin-right: auto;
    }
    
    #navbar-bottom {
        background-color: #391463;
        display: flex;
        justify-content: space-between;
    }
    
    #navbar-bottom a {
        text-decoration: none;
        color: white;
        padding: 12px 36px;
    }
    
    #navbar-3 .cta-button {
        background-color: orange ;
        color: rgb(255, 255, 255);
        border-radius: 36px;
        padding: 16px 24px;
        font-size: 20px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
    }
    